<?xml version="1.0"?>
<robot xmlns:xacro="http://ros.org/wiki/xacro">
   <xacro:macro name="mecanum_wheel_gazebo" params="position">
      <gazebo reference="${position}_mecanum_wheel_link">
        <mu1 value="0"/>
        <mu2 value="0"/>
        <kp value="0" />
        <kd value="0" />
        <fdir1 value="1 0 0"/>
        <material>Gazebo/Orange</material>
        <turnGravityOff>false</turnGravityOff>
      </gazebo>
   </xacro:macro>
</robot>
