<?xml version="1.0"?>
<robot xmlns:xacro="http://ros.org/wiki/xacro">

    <xacro:macro name="hokuyo_gazebo" params="prefix">
        <!-- hokuyo -->
        <gazebo reference="${prefix}hokuyo_link">
            <turnGravityOff>false</turnGravityOff>
            <sensor type="ray" name="${prefix}hokuyo_sensor">
                <pose>0 0 0 0 0 0.0425</pose>
                <visualize>true</visualize>
                <update_rate>30</update_rate>
                <ray>
                    <scan>
                        <horizontal>
                            <samples>720</samples>
                            <resolution>1</resolution>
                            <min_angle>-1.57</min_angle>
                            <max_angle>1.57</max_angle>
                        </horizontal>
                    </scan>
                    <range>
                        <min>0.10</min>
                        <max>30.0</max>
                        <resolution>0.01</resolution>
                    </range>
                    <noise>
                        <type>gaussian</type>
                        <!-- Noise parameters based on published spec for Hokuyo laser
                                            achieving "+-30mm" accuracy at range < 10m.  A mean of 0.0m and
                                            stddev of 0.01m will put 99.7% of samples within 0.03m of the true
                                            reading. -->
                        <mean>0.0</mean>
                        <stddev>0.01</stddev>
                    </noise>
                </ray>
                <plugin name="gazebo_ros_${prefix}_hokuyo_controller" filename="libgazebo_ros_laser.so">
                    <topicName>/hokuo/scan</topicName>
                    <frameName>hokuyo_link</frameName>
                </plugin>
            </sensor>
        </gazebo>
    </xacro:macro>
</robot>

