<?xml version="1.0"?>

<robot xmlns:xacro="http://ros.org/wiki/xacro">
    <xacro:property name="M_PI" value="3.1415926535897931"/>

    <xacro:macro name="asus_head_xtion" params="prefix parent *origin sim">

        <xacro:if value="${sim}">
            <xacro:include filename="$(find sara_description)/urdf/head_xtion/head_xtion.gazebo.xacro"/>
            <xacro:xtion_gazebo prefix="${prefix}"/>
        </xacro:if>

        <joint name="${prefix}xtion_joint" type="fixed">
            <xacro:insert_block name="origin"/>
            <parent link="${parent}_link"/>
            <child link="${prefix}xtion_link"/>
        </joint>

        <link name="${prefix}xtion_link">
            <inertial>
                <mass value="0.200"/>
                <origin xyz="0 0 0" rpy="0 0 0"/>
                <inertia ixx="5.8083e-4" ixy="0" ixz="0" iyy="3.0833e-5" iyz="0" izz="5.9083e-4"/>
            </inertial>
            <visual>
                <origin xyz="0 0 0" rpy="0 0 0"/>
                <geometry>
                    <mesh filename="package://sara_description/meshes/head_xtion.STL" scale="0.001 0.001 0.001"/>
                </geometry>
            </visual>
        </link>

    </xacro:macro>
</robot>
