<?xml version="1.0"?>
<robot xmlns:xacro="http://ros.org/wiki/xacro" >
  <xacro:macro name="sara_base_v2" params="sim">
      <xacro:if value="${sim}">
          <xacro:include filename="$(find sara_description)/urdf/base_v2/base.gazebo.xacro"/>
          <xacro:sara_base_gazebo_v2/>
      </xacro:if>

    <link name="base_link">
      <visual>
         <geometry>
            <mesh filename="package://sara_description/meshes/base.STL" scale="0.001 0.001 0.001"/>
         </geometry>
         <origin xyz="0.295 -0.250 0.85635" rpy="-1.57 0 1.57"/>
         <material name="black">
               <color rgba="0.12 0.12 0.12 1"/>
         </material>
      </visual>
      <visual>
         <geometry>
              <box size="0.4 0.35635 0.454"/>
         </geometry>
         <origin xyz="-0.055 0 0.227" rpy="0 0 0"/>
         <material name="black">
               <color rgba="0.12 0.12 0.12 1"/>
         </material>
      </visual>
      <collision>
         <geometry>
            <mesh filename="package://sara_description/meshes/base.STL" scale="0.001 0.001 0.001"/>
         </geometry>
         <origin xyz="0.295 -0.250 0.85635" rpy="-1.57 0 1.57"/>
      </collision>
      <collision>
        <geometry>
             <box size="0.4 0.35635 0.454"/>
        </geometry>
        <origin xyz="-0.055 0 0.227" rpy="0 0 0"/>
      </collision>
      <inertial>
        <mass value="100"/>
        <origin xyz="-0.055 0 0.227" rpy="0 0 0"/>
        <inertia ixx="0.1" ixy="0.1" ixz="0.1"
                 iyy="0.1" iyz="0.1"
                 izz="0.1"/>
      </inertial>
      <inertial>
        <mass value="30"/>
        <origin xyz="0 0 0" rpy="0 0 0"/>
        <inertia ixx="0.1" ixy="0.1" ixz="0.1"
                 iyy="0.1" iyz="0.1"
                 izz="0.1"/>
      </inertial>
    </link>

    </xacro:macro>
  </robot>
