<?xml version="1.0"?>
<robot name="sara" xmlns:xacro="http://www.ros.org/wiki/xacro">
    <xacro:arg name="sim" default="true"/>
    <xacro:property name="sim" value="$(arg sim)"/>

    <!-- Inclure tous les autres urdf.xacros ici -->
    <xacro:include filename="$(find sara_description)/urdf/linear_actuator_v1/actuator.urdf.xacro"/>
    <xacro:include filename="$(find sara_description)/urdf/torso_v1/torso.urdf.xacro"/>
    <xacro:include filename="$(find sara_description)/urdf/neck_v1/neck.urdf.xacro"/>
    <xacro:include filename="$(find sara_description)/urdf/head_xtion/head_xtion.urdf.xacro"/>
    <xacro:include filename="$(find sara_description)/urdf/head_v1/head.urdf.xacro"/>
    <xacro:include filename="$(find sara_description)/urdf/arm_v2/arm.urdf.xacro"/>
    <xacro:include filename="$(find sara_description)/urdf/base_v2/base.urdf.xacro"/>
    <xacro:include filename="$(find sara_description)/urdf/hokuyo/hokuyo.urdf.xacro"/>

    <xacro:macro name="robot">


        <!-- BASE FOOTPRINT -->
        <link name="sara_base_footprint">
            <visual>
                <origin xyz="0 0 0" rpy="0 0 0" />
                <geometry>
                    <box size="0.001 0.001 0.001" />
                </geometry>
            </visual>
        </link>

        <joint name="sara_base_footprint_joint" type="fixed">
            <origin xyz="0 0 0" rpy="0 0 0" /> <!-- ${wheel_radius} property must be defined inside wheel description -->
            <parent link="sara_base_footprint"/>
            <child link="base_link" />
        </joint>



        <!-- Base -->
        <xacro:sara_base sim="${sim}"/>


        <!-- Bring in simulation data for Gazebo. -->
        <xacro:include filename="$(find sara_description)/urdf/sara.gazebo.xacro" />

    </xacro:macro>

    <xacro:robot/>

</robot>
