<?xml version="1.0"?>
<robot xmlns:xacro="http://ros.org/wiki/xacro">
    <transmission name="head_yaw_trans" type="SimpleTransmission">
        <type>transmission_interface/SimpleTransmission</type>
        <actuator name="head_yaw_motor">
            <mechanicalReduction>1</mechanicalReduction>
        </actuator>
        <joint name="head_yaw_joint">
            <hardwareInterface>hardware_interface/EffortJointInterface</hardwareInterface>
        </joint>
    </transmission>
</robot>
