<?xml version="1.0"?>
<robot xmlns:xacro="http://ros.org/wiki/xacro">

    <xacro:macro name="sara_linear_actuator_gazebo" params="prefix">
        <gazebo reference="${prefix}actuator_link">
            <turnGravityOff>false</turnGravityOff>
            <selfCollide>false</selfCollide>
        </gazebo>
    </xacro:macro>
</robot>
