<?xml version="1.0"?>
<robot xmlns:xacro="http://ros.org/wiki/xacro">
    <transmission name="${prefix}_actuator_trans" type="SimpleTransmission">
        <type>transmission_interface/SimpleTransmission</type>
        <actuator name="${prefix}_actuator_motor">
            <mechanicalReduction>1</mechanicalReduction>
        </actuator>
        <joint name="${prefix}_actuator_joint">
            <hardwareInterface>hardware_interface/EffortJointInterface</hardwareInterface>
        </joint>
    </transmission>
</robot>
