<?xml version="1.0"?>
<robot xmlns:xacro="http://ros.org/wiki/xacro">

    <transmission name="${prefix}shoulder_roll_trans" type="SimpleTransmission">
        <type>transmission_interface/SimpleTransmission</type>
        <actuator name="${prefix}shoulder_roll_motor">
            <mechanicalReduction>1</mechanicalReduction>
        </actuator>
        <joint name="${prefix}shoulder_roll_joint">
            <hardwareInterface>hardware_interface/EffortJointInterface</hardwareInterface>
        </joint>
    </transmission>

    <transmission name="${prefix}shoulder_pitch_trans" type="SimpleTransmission">
        <type>transmission_interface/SimpleTransmission</type>
        <actuator name="${prefix}shoulder_pitch_motor">
            <mechanicalReduction>1</mechanicalReduction>
        </actuator>
        <joint name="${prefix}shoulder_pitch_joint">
            <hardwareInterface>hardware_interface/EffortJointInterface</hardwareInterface>
        </joint>
    </transmission>

    <transmission name="${prefix}shoulder_yaw_trans" type="SimpleTransmission">
        <type>transmission_interface/SimpleTransmission</type>
        <actuator name="${prefix}shoulder_yaw_motor">
            <mechanicalReduction>1</mechanicalReduction>
        </actuator>
        <joint name="${prefix}shoulder_yaw_joint">
            <hardwareInterface>hardware_interface/EffortJointInterface</hardwareInterface>
        </joint>
    </transmission>

    <transmission name="${prefix}elbow_pitch_trans" type="SimpleTransmission">
        <type>transmission_interface/SimpleTransmission</type>
        <actuator name="${prefix}elbow_pitch_motor">
            <mechanicalReduction>1</mechanicalReduction>
        </actuator>
        <joint name="${prefix}elbow_pitch_joint">
            <hardwareInterface>hardware_interface/EffortJointInterface</hardwareInterface>
        </joint>
    </transmission>

    <transmission name="${prefix}elbow_yaw_trans" type="SimpleTransmission">
        <type>transmission_interface/SimpleTransmission</type>
        <actuator name="${prefix}elbow_yaw_motor">
            <mechanicalReduction>1</mechanicalReduction>
        </actuator>
        <joint name="${prefix}elbow_yaw_joint">
            <hardwareInterface>hardware_interface/EffortJointInterface</hardwareInterface>
        </joint>
    </transmission>

    <transmission name="${prefix}wrist_pitch_trans" type="SimpleTransmission">
        <type>transmission_interface/SimpleTransmission</type>
        <actuator name="${prefix}wrist_pitch_motor">
            <mechanicalReduction>1</mechanicalReduction>
        </actuator>
        <joint name="${prefix}wrist_pitch_joint">
            <hardwareInterface>hardware_interface/EffortJointInterface</hardwareInterface>
        </joint>
    </transmission>

    <transmission name="${prefix}wrist_roll_trans" type="SimpleTransmission">
        <type>transmission_interface/SimpleTransmission</type>
        <actuator name="${prefix}wrist_roll_motor">
            <mechanicalReduction>1</mechanicalReduction>
        </actuator>
        <joint name="${prefix}wrist_roll_joint">
            <hardwareInterface>hardware_interface/EffortJointInterface</hardwareInterface>
        </joint>
    </transmission>

</robot>
