<?xml version="1.0" ?>

<launch>
    <!-- sim arg -->
    <arg name="sim" default="true" />
    <arg name="test" default="false" />
    <arg name="gui" default="true" />
    <arg name="ns" default="/" />

    <!--Load the controllers parameters-->
    <rosparam file="$(find sara_description)/config/controllers.yaml" command="load" ns="$(arg ns)" />
    <rosparam file="$(find sara_description)/config/gazebo_ros_control.yaml" command="load" ns="gazebo_ros_control" />


    <!-- load joint controller configurations from YAML file to parameter server -->
    <param name="robot_description" command="xacro --inorder '$(find sara_description)/urdf/sara.urdf.xacro' sim:=$(arg sim)"/>

    <group  if="$(arg test)">
        <param name="use_gui" value="$(arg gui)"/>
        <node name="joint_state_publisher" pkg="joint_state_publisher" type="joint_state_publisher" ns="$(arg ns)" />
    </group>

    <!-- load the controllers -->
    <node name="controller_spawner" pkg="controller_manager" type="spawner" respawn="false"
          output="screen" ns="$(arg ns)" args="  joint_state_controller
                                                        right_arm_trajectory_controller
                                                        head_pitch_controller
                                                        head_yaw_controller
                                                        right_gripper_action_controller"/>

    <!-- publish all the frames to TF -->
    <node name="robot_state_publisher" pkg="robot_state_publisher" type="state_publisher" ns="$(arg ns)"/>

    <!-- Start gazebo if sim is true -->
    <group  if="$(arg sim)">
        <include file="$(find gazebo_ros)/launch/empty_world.launch">
            <arg name="world_name" value="$(find sara_description)/worlds/house.world"/>
        </include>
    </group>

    <!-- Spawn model -->
    <node name="urdf_spawner" pkg="gazebo_ros" type="spawn_model" respawn="false" output="screen"
          args="-urdf -x 1 -y 4 -z 0.3
                -model sara
                -param robot_description
                -unpause"/>

</launch>
