<?xml version="1.0" ?>

<launch>
    <!-- sim arg -->
    <arg name="sim" default="true" />
    <arg name="test" default="false" />
    <arg name="gui" default="true" />

    <!-- load joint controller configurations from YAML file to parameter server -->
    <param name="robot_description" command="xacro --inorder '$(find sara_description)/urdf/sara.urdf.xacro' sim:=$(arg sim)"/>

    <group  if="$(arg test)">
        <param name="use_gui" value="$(arg gui)"/>
        <node name="joint_state_publisher" pkg="joint_state_publisher" type="joint_state_publisher" />
    </group>

    <!-- publish all the frames to TF -->
    <node name="robot_state_publisher" pkg="robot_state_publisher" type="state_publisher">
    <!--<remap from="/joint_states" to="/sara_joint_state_controller" />-->
    </node>

    <!-- Spawn model -->
    <node name="urdf_spawner" pkg="gazebo_ros" type="spawn_model" respawn="false" output="screen"
          args="-urdf -x 0 -y 0 -z 0  -model sara -param robot_description"/>

</launch>
